.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.logo-img {
  width: 250px;
  height: 80px;
}

.btn-premium {
  background-color: #00a2f7;
  width: 156px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
